.loading-wrap {
    position: absolute;
    display: none;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    color: #666;
}

.show {
    display: flex;
    visibility: visible;
}

.loading-box {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    color: inherit;
    background: currentColor;
}

.loading-circle {
    position: relative;
    margin: 35px auto 30px;
    width: 40px;
    height: 40px;
    background: #666 linear-gradient(to right, transparent 50%, currentColor 0);
    color: inherit;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(180deg);
    animation: transformCircle 1.5s linear infinite;
    &::before {
        content: '';
        display: block;
        margin-left: 50%;
        height: 100%;
        border-radius: 0 100% 100% 0 / 50%;
        background-color: inherit;
        transform-origin: left;
        animation: spin 1s linear infinite, bg 2s step-start infinite;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: inherit;
        background: currentColor;
    }
}

.loading-text {
    font-size: 1.2em;
    text-align: center;
    color: #CCC;
}

@keyframes transformCircle {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(-180deg);
    }
}

@keyframes bg {
    50% {
        color: inherit;
        background-color: currentColor;
    }
}

/* SVG */
.loading-svg-circle {
    position: relative;
    margin: 35px auto 30px;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    animation: svgCircle 1.5s infinite linear;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: inherit;
        background: currentColor;
    }
    svg {
        background-color: #666;
        border-radius: 50%;
    }
    circle {
        fill: #666;
        stroke: #CCC;
        stroke-width: 8;
        animation: svgSpin 1.5s infinite linear;
    }
}

@keyframes svgCircle {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes svgSpin {
    to {
        stroke-dasharray: 25 25;
    }
}

